/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

/* Navbar & Footer */
.navbar-container, .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    position: absolute;
    padding: 0 20px;
}

.navbar-container {
    top: 15px;
}

.footer-container {
    bottom: 0px;
    padding: 15px;
    background-color: #f2f2f2; 
    color: #555; 
}

.navbar-left, .navbar-right, .footer-left, .footer-right {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    font-size: 14px;
}

.navbar-left, .footer-left {
    position: relative;
}

.navbar-right, .footer-right {
    position: relative;
    display: flex;
}

/* Logo */
.logo-container {
    margin-top: -70px;
    margin-bottom: 35px;
}

.logo-image {
    width: 300px;
}

/* Search Input */
.search-input-container {
    position: relative;
    width: 600px;
}

.search-input {
    width: 100%;
    height: 40px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    font-size: 12pt;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.297);
}

.search-input:focus,
.search-input:hover {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.297);
}

.search-icon, .microphone-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.search-icon {
    left: 15px;
    width: 25px;
    height: 25px;
}

.microphone-icon {
    right: 15px;
    width: 15px;
    cursor: pointer;
}

/* Buttons */
.buttons-container {
    margin-top: 35px;
    justify-content: center;
}

.buttons-container button {
    margin-inline: 10px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    background-color: #F8F8F8;
    color: #333;
    cursor: pointer;
}

.buttons-container button:hover {
    box-shadow: 0 0 5px #c8c8c8;
}

/* Sign In Button */
.sign-in-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    font-weight: bold;
    background-color: #4285F4;
    color: white;
    border-style: none;
    font-size: 14px;
    border-radius: 4px;
}

.sign-in-button:hover {
    background-color: #357ae8;
}

.sign-in-button:active {
    background-color: #2d66c4;
}

/* Dots */
#dots {
    font-size: 20px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

#dots::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    visibility: hidden;
}

#dots:hover::before {
    visibility: visible;
}

/* Footer Links */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12pt;
}

a:hover {
    text-decoration: underline;
}
